<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Log in</h2>

  <div class="alert-danger" *ngIf="auth.error$ | async as error">
    {{ error }}
  </div>
  <div class="alert-info" *ngIf="message">
    {{ message }}
  </div>

  <div
    [ngClass]="{
    invalid: form.get('email')?.touched && form.get('email')?.invalid
    }"
    class="form-control">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
    <div
      *ngIf="form.get('email')?.touched && form.get('email')?.invalid"
      class="validation">
      <small *ngIf="form.get('email')?.errors?.['email']">
        Incorrect email
      </small>
      <small *ngIf="form.get('email')?.errors?.['required']">
        Cannot be empty
      </small>
    </div>
  </div>

  <div
    [ngClass]="{
    invalid: form.get('password')?.touched && form.get('password')?.invalid
    }"
    class="form-control">
    <label for="password">Pass:</label>
    <input id="password" type="password" formControlName="password">
    <div
      *ngIf="form.get('password')?.touched && form.get('password')?.invalid"
      class="validation">
      <small *ngIf="form.get('password')?.errors?.['required']">
        Cannot be empty
      </small>
      <small *ngIf="form.get('password')?.errors?.['minlength']">
        Must be at least {{ form.get('password')?.errors?.['minlength']?.requiredLength }}
        symbols long.
        Its {{ form.get('password')?.errors?.['minlength']?.actualLength }} symbols long
        now.
      </small>
    </div>
  </div>

  <button
    [disabled]="form.invalid || submitted"
    type="submit"
    class="btn bg-primary"
  >
    Apply
  </button>
</form>
